.header {
    display: flex;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    font-size: 20px;
    margin: 0 20px 0 0;
}

.banner img {
    width: 80%;
}

.productbox {
    width: 25%;
}

.productlist {
    display: flex;
    gap: 20px;
}

.productbox img {
    width: 100%;
}

.trendingtext {
    text-align: center;
}

.seemorebutton {

    background: black;
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    margin: 40px 0 40px 0;
}


.buttoncontainer {
    display: flex;
    justify-content: center;
}

.footer {
    text-align: center;
    background: black;
    color: white;
    padding: 30px 0 30px 0;
}

